{#
# GNU MediaGoblin -- federated, autonomous media hosting
# Copyright (C) 2011, 2012 MediaGoblin contributors.  See AUTHORS.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}
{% extends "mediagoblin/base.html" %}

{% import "/mediagoblin/utils/wtforms.html" as wtforms_util %}

{% block mediagoblin_content %}

  <form action="{{ request.urlgen('mediagoblin.user_pages.media_confirm_delete',
		                  user=media.get_uploader.username,
				  media=media._id) }}"
        method="POST" enctype="multipart/form-data">
    <div class="form_box">
      <h1>
        {%- trans title=media.title -%}
          Really delete {{ title }}?
        {%- endtrans %}
      </h1>

      <div style="text-align: center;" >
        <img src="{{ media.thumb_url }}" />
      </div>

      <br />

      <p class="delete_checkbox_box">
	{{ form.confirm }}
	<label for="{{ (form.confirm.name) }}">{{ _(form.confirm.label.text) }}</label>
      </p>

      <div class="form_submit_buttons">
        {# TODO: This isn't a button really... might do unexpected things :) #}
	<a class="button_action" href="{{ media.url_for_self(request.urlgen) }}">{% trans %}Cancel{% endtrans %}</a>
        <input type="submit" value="{% trans %}Delete permanently{% endtrans %}" class="button_form" />
	{{ csrf_token }}
      </div>
    </div>
  </form>
{% endblock %}    
